/*Para max-width 425 (mobile L) */


* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Black Ops One', cursive;
  font-family: 'Red Hat Display', sans-serif;
}

main {
  min-height: 700px;
}

html {
font-size: 10px;

}
/*
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    opacity: 1;
    margin-left: 5px;
} */


.wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;

}

body {
  height: 100%;
}

ul, ol {
list-style: none;
margin: 0;
padding: 0;
}

a {
display: inline-block;
text-decoration: none;
color: inherit;
}

li>a:hover {
color:white;
}

a:hover {
text-decoration: none;
}

a:visited {
color:inherit;
}

button:focus {

  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* ########## */

.container-contacts-table {
  margin-left: 1vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

tbody.list-users img {
  width:70px;
  height: 70px;

  /* object-fit:scale-down;
  object-position: 10% 2; */
  border-radius: 50%;

  object-fit: cover;
  object-position: center;

}

tbody.list-users th {
  width: 7vw;
}

tbody.list-users td {
  font-size: 1.5em;
}

.paginator {
  display: flex;
  justify-content: center;
}

.paginator .paginator-text{
  font-size: 2em;
}

span.bunker{
  font-family: 'Black Ops One', cursive;
}

h2 span{
  font-family: 'Black Ops One', cursive;
 
}

.container-nosotros h2{
  font-size: 4em;
  
}

.container-nosotros h3{
  font-size: 3em;
  margin-bottom: 20px;
}

.container-nosotros p{
  font-size: 2em;
}

.container-nosotros div div {
  margin-top: 30px;
  text-align: justify;
}

.container-equipo div img{
  object-fit: cover;
  object-position: center;
  width: 150px;
  height: 150px;
}

.container-equipo div:nth-child(4) img{
  object-fit: cover;
  object-position: 100% 30%;
  width: 150px;
  height: 150px;

}

.container-equipo div:nth-child(1){
  margin-bottom: 70px;
}

.equipo-contenido {
  display: flex;
  text-align: center;
}

.equipo-contenido div:nth-child(2){

  font-size: 2.5em;
  text-align: justify;
  margin-left: 30px;
}
.container-equipo {
  margin-top: 40px;
}

.card-deck-promociones .card .card-body p.card-text {
  height: 60px;

}

.card-deck-promociones .card .card-body h5 {
  font-size: 2em;

}

.container-promociones div {
  margin-top: 40px;
}

.container-promociones div h2 {
  font-size: 4em;
}

.cambios div {
  font-size: 2.5em;
  text-align: justify;
}

.container-equipo div h2 {
  font-size: 3.5em;
}

.container-equipo h3 {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c2c2c2;

}
.container-equipo div {
  margin-bottom: 30px;
}


/* ########## */
/* tbody.list-cart img,  */
#img-cart {
  width:70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

input#price{
  max-width: 70px;
}

#check-out {

    color: #fefefe;
    background-color: #353535;
    font-size: 0.7em;
    padding: 4px;
    border-radius: 10%;


}

.login {
  color: red;
  padding: 5px;
 font-size: 2em;
 margin-top: 5px;
}


#edicion-usuario-valid {
  padding: 5px;
  font-size: 2em;
  margin-top: 5px;
}
.card-cats img{
  object-fit: cover;
  width: 420px;
  height: 400px;

}

.imagen-cat>img {
  /* width: 100%;
  object-fit: center;
object-position: center; */
object-fit: cover;
width: 35vw;
height: 65vh;
}

.card-cats {
  width: 100%;
  margin-right: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-over-img{
  position: absolute;
  
}

.card-over-img h5 {
  color: #E9e9e9;
  font-size: 4em !important;
  background-color:rgba(102, 102, 102, 0.5);
  
  width: 420px;
}

.card-group-categories {
  overflow: scroll;
}

.seccion-categorias {
 
  padding-bottom: 55px; 
}

#contenido-jumbotron {
background-color: rgba(255,255,255,0.50);
padding-bottom: 20px;
}

#contenido-jumbotron h2 {
  font-family: 'Black Ops One', cursive;
  font-size: 6em;
  font-weight: bold;
  
}

#contenido-jumbotron h2 span {
  font-size: 0.5em;
  padding-left: 3vw;
}

#contenido-jumbotron h3 a:hover{
  color:#FFCA00;
}

.lista-list-cats {
  display: flex;
  justify-content: space-around;
object-fit: fill;
  overflow: scroll;
}

.list-cats img {
  width:210px;
  height: 210px;

  /* object-fit:scale-down;
  object-position: 10% 2; */
border-radius: 50%;
padding: 15px; 

  object-fit: cover;
  object-position: center;

}


@media (max-width: 375px) {
  /* .card-cats img{
    
    width: 370px;
    height: 370px;
  }

  .card-over-img h5 { 
    width: 375px;
  } */

  .logo-bunker>a>h1 {
   
   letter-spacing: normal !important;}
}

@media (min-width: 768px) {
  .card-cats img{
    
    width: 255px;
    height: 255px;
  }

  .card-over-img h5 {
    color: #E9e9e9;
    font-size: 2em !important;
    background-color: rgba(102, 102, 102, 0.5);
    width: 255px;
}
}

@media (min-width: 1024px) {
  .card-cats img {
    width: 340px;
    height: 340px;
}
.card-over-img h5 {
  color: #E9e9e9;
  font-size: 3em !important;
  background-color: rgba(102, 102, 102, 0.5);
  width: 340px;
}
}

@media (min-width: 1440px) {
  .card-cats img {
    width: 480px;
    height: 340px;
}
.card-over-img h5 {
  color: #E9e9e9;
  font-size: 3em !important;
  background-color: rgba(102, 102, 102, 0.5);
  width: 480px;
}
}

@media (min-width: 2560px) { 
  .card-cats img {
    width: 850px;
    height: 340px;
}
.card-over-img h5 {
  width: 850px;
} 
}



.carousel-inner img {
  width: 100%;
  height: 100%;
}


table.table-cart{

  margin-left: 0.8vw;
}
table.table-cart thead h1{
  margin-left: 0.8vw;
}
#check-out:hover{
  color: #FFCA00;
  box-shadow: 5px 5px 10px grey;
}
.fa-trash-o {
  color: #fefefe;
  background-color: #353535;
  font-size: 2em;
  padding: 4px;
  border-radius: 15%;

}







.fa-trash-o:hover{
  color: #FFCA00;
  box-shadow: 5px 5px 10px grey;
}

#trash {
  vertical-align: middle !important;
}

tbody.list-favs img {
  width:70px;
  height: 70px;
  object-fit: cover;
  object-position: center;

}

.image-card-container {
  width:300px;
  height: 300px;
  /* object-fit: cover;
  object-position: center; */
}






.card-img-top {
  width: 400px;
  height: 400px;
  max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  object-position: center;
  border-bottom: 1px solid #c2c2c2;
    padding-bottom: 15px;
}

.card-deck-index .card .card-body div {
  display:flex;
  text-align: center;
  align-content: space-between;
}
.card-deck-index .card .card-body div span {
  margin-left: 8px;
  margin-top: 3px;
  font-size: 1.3em;
  color: red;
}
.card-deck-index .card .card-body h4 {
  font-size: 2em;
 
}


.card-deck-index .card .div-img {
text-align: center;

}

@media (min-width: 768px) {
  .card-img-top {
    width: 150px;
    height: 150px;
    max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 1024px) {
  .card-img-top {
    width: 200px;
    height: 200px;
    max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    object-position: center;
  }

}

@media (min-width: 576px) {
  .card-deck-index .card {
    max-width: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
}
}
@media (min-width: 1024px) {
  .card-deck-index .card {
    max-width: 250px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
}
}


.data-prod{
  display: flex;

}

tbody.list-favs th {
  width: 7vw;

}
/* tbody.list-cart th, td, */
tbody.list-favs th, td {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;


  /* text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap; */


}
 /* tbody.list-cart td:nth-child(1), */
tbody.list-favs td:nth-child(2) {

  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
  vertical-align: middle !important;

}

/* tbody.list-cart td:nth-child(3)  {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
} */

/* tbody.list-cart td:nth-child(3) p:nth-child(1) input{

  width: 5vw;
} */

/* tbody.list-cart td:nth-child(3) p:nth-child(1)*/
tbody.list-favs td:nth-child(2) p:nth-child(1) {
  font-size: 1.3em;
  font-weight: bold;
  /* text-align: justify;
  text-justify: inter-word; */
  text-justify: unset;
  vertical-align: middle !important;
}

 /* tbody.list-cart td:nth-child(4),  */
tbody.list-favs td:nth-child(3) {

  width: 5vw;

}

/* tbody.list-cart td:nth-child(4) a, */
tbody.list-favs td:nth-child(3) a {

  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: #e9e9e9;
  font-weight: bold;
  vertical-align: middle !important;

}
/* tbody.list-cart td:nth-child(4) a:hover,*/
tbody.list-favs td:nth-child(3) a:hover {
  color: #FFCA00;
  box-shadow: 5px 5px 10px grey;
 }


/* tbody.list-cart td:nth-child(4) a:nth-child(1),*/
tbody.list-favs td:nth-child(3) a:nth-child(1) {
  background-color: #353535;

  margin-top: 2vh;

}

 tbody.list-favs td:nth-child(3) a:nth-child(2) {
  background-color: #666666;

  margin-top: 2vh;

}

/* ***** */

/* ***** */

.icono-fav-prod:before {
  font-size: 3em;
}

/* ########## */

.row-header {
  height: 45px;
  /* padding-top: 0.8vh; */
  margin: unset;
  padding-top: 8px;
  padding-bottom: 8px;
}

#menu_on{
	display: inline-block;
	width:30px;
	height: 20px;
	position: relative;
  z-index: 2;
  margin-top: 10px;

}

#menu_on .cruz{
	width: 100%;
	height: 4px;
	border-radius: 4px;
	display: block;
	position: absolute;
	background: #fff;
	transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
  transform-origin : 0px 100%;

}

#menu_on .cruz:nth-child(2){
	top: calc(50% - 2px);
}

#menu_on .cruz:nth-child(3){
bottom: 0;
}



nav{
	position: fixed;
	top: 0;
	bottom: 0;
	left:-300px; /* Escondemos nuestro menú con un valor negativo */
  width: 300px;
	z-index: 2;
	padding: 90px 30px 30px;
	background: #353535;
	opacity: 0;
	transition: all 0.75s ease;
	font-size: 1.2em;
	overflow-y: auto;
}

nav ul{
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

nav ul li{
  color: white;
  font-size: 1.5em;
}

nav ul:nth-child(2) li a {

  padding-top: 2vh;
  padding-bottom:2vh


}

nav ul:nth-child(2) li a:hover {
background-color: #ff2d53;
}

nav a{
	display:block;
	text-decoration: none;
	padding: 10px;
	color: rgba(255,255,255,0.75);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	transition: all ease 0.25s;
}

.desplegable a:hover{
	color: #FFCA00;
	border-bottom-color:rgba(255,255,255,0.4);
}

.visible_menu .cruz:nth-child(1){
	transform: rotate(45deg) translate(-2px,1px);
}

.visible_menu .cruz:nth-child(2){
	opacity: 0;
}

.visible_menu .cruz:nth-child(3){
	transform: rotate(-45deg) translate(-3px,3px);
}

.visible_menu nav{
	left: 0;
	opacity: 1;
}

.desplegable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.visible_menu #content{
  transform: translateX(260px);
}

.center-cropped {
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 200px;
}





/* ********** */
/* .inivisible {
  visibility: hidden;
 -webkit-transition: all 0.5s ease-in-out;
}

.visible {
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out;
} */

/* ****** */

#collapseExample ul {
  display:flex;
justify-content:  space-around;


}

#collapseExample ul li {
  /* float:left; */

	height:40px;
  line-height: 40px;
  color: #fefefe;
  font-size: 2em;

  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 2vh;
  border-radius: 3px;

}

#collapseExample ul li:nth-child(4):hover {
  background-color: #FF2d53;
}
#collapseExample ul li:nth-child(1):hover,
#collapseExample ul li:nth-child(3):hover,
#collapseExample ul li:nth-child(2):hover {
  background-color: #666666;
}


/* ****** */
/* ############3 */


header {
  background-color: #353535;
  padding: 0 1vh 1vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 3px 3px  gray;
  height: 55px;
}

.icono {
color: #FFCA00;
background-color: #353535;
/* font-size: 3em; */
}



/* .icon-carrito {
display: flex;
justify-content: center;
align-items: center;
font-size: 3em;
margin-right:1vw;
margin-left: 1vw;
} */


.icon-fav {
display: flex;
justify-content: center;
align-items: center;
margin-right:1vw;
margin-left: 1vw;

}



.logo-bunker {
  padding-left: 7vw;
  text-align: center;
  min-height: 17vh;
  /* background-color:  #E9e9e9; */
  border-bottom: 2px solid #c2c2c2;
  overflow: scroll;
  background-color: #353535;
}

.logo-bunker>a>h1 {
  font-family: 'Black Ops One', cursive;
  letter-spacing: 5px;
  font-size: 5em;
 color: #E9e9e9; */
/* color:#c2c2c2; */
/* color: #353535; */
margin-top: 4vh;
/* text-shadow: 2px 2px 6px #c2c2c2; */
}
.logo-bunker>a>h1>span {
  font-family: 'Black Ops One', cursive;
  letter-spacing: 1px;
color: #c2c2c2;
font-size: 0.8em;
margin-top: 2vh;
}

.nav-user>li span:nth-child(2) {
padding-left: 1vw;

}



/* .icon-fav  button {
  background-color: #353535;
  border: unset;
  padding-bottom:2vh;
} */

/* .fa-user-astronaut button {
  background-color: #353535;
  border: unset;

} */







/* barrita buscadora */

.search-form {
position: relative;
display: flex;
align-items: center;
}

.search-form_input {
border: solid 1px gray;
display: block;
width: 100%;
padding: 7px 35px 7px 7px;
border-radius: 3px;
height: 40px;
font-size: 1.5em;
}

.search-form_button {
position: absolute;
padding-left: 2vw;
right: 3vw;
height: 60%;
background-color: #ffffff;
border: none;
border-left: solid 1px #c2c2c2;
color: #c2c2c2;
cursor: pointer;
}


.boton-fijo {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 2vw;
  z-index: 1;
}


/* destroy User */



.destroy-user {
  max-width: 400px;
}

.container-wide.destroy {

  text-align: center;
}


.container-buttons-delete {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;


}
/* **********INDEX************ */


.titulos-index h2{
  border-bottom: 1px solid #c2c2c2;
  padding-left: 0px;
  font-size: 4em !important;
}

.caja-tarjetas {
  background-color: #fefefe;
}

.cont-tarjeta1, .cont-tarjeta2 {

  /* margin-top: 2vh;
  margin-bottom: 2vh; */
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  height: 100px;
}

/* .cont-tarjeta1 {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.cont-tarjeta2 {
  margin-top: 1vh;
  margin-bottom: 2vh;
} */


.col-cuerpo {
  margin:  0;
  padding: 0;
}

.card-body-tarjetas {
  margin:  0;
  padding-top: 3vh;
  padding-left: 2vh;
  border-left: solid 1px #e9e9e9;
  height: 90px;
}

.card-body-tarjetas>p {
  margin:  0;
  padding: 0;
}

.card-img1 {
  width: 85%;
  padding-top: 5vh;
 }

.card-img2 {
  width: 75%;
  padding-top: 1.5vh;
}



@media (min-width: 768px) {
  .card-img2 {
    width: 45%;
}
}

@media (min-width: 1024px) {
  .card-img2 {
    width: 65%;
}
}



.imagen-bbva, .imagen-american {

  padding:0;
  /* padding-top: 4vh; */
  margin: 0;
  text-align: center;
}

.text-muted {
  color: #353535;
  font-weight: bold;
}

.card-body-tarjetas p.card-text:nth-child(2n) {
  color: #353535;
}

.card-body-tarjetas p.card-text:nth-child(2n) span {
  color: #FF2d53;
}

.card-body-tarjetas p:nth-child(3n) {
  color: #c2c2c2;
  font-size: 0.8em;
}

.card-body-tarjetas p:nth-child(3n) span:nth-child(2n) {
  font-size: 0.8em;
  padding-left: 1vw;
}

/* *****boton volver***** */

.btn-dark {
  opacity: 0.8;
}

.btn-dark i:hover {
  color: gold;
}


/* tarjetas ofertas e interés */

.titulos {
  display: flex;
  text-align: center;

}
.titulos i {
  font-size: 3em;
  padding-top:0.4em;
}

.fa-angle-double-right {
  padding-top: 1vh;
}


.products-title {
  color: #353535;
  padding: 2vh 2vw;

}



.product-box {
  margin-top: 3vh;
  margin-bottom: 8vh;
  background-color: yellow;
  overflow: hidden;
}

.product-box_image>img {
  /* width: 100%; */
  object-fit: cover;
  width: 20vw;
  height: 20vh;
}

.precio-oferta {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: solid 1px #ebebeb;
  padding-top: 2vh;

}

.precio-oferta>span {
  color: #FF2d53;
  font-weight: bold;
  font-size: 2em;
}


/* .cont-imagen-data{
  position:relative;
  text-align: center;
}
.product-box_data {
position: absolute;

} */

.product-box_data>p {
  font-size: 3em;
}

.product-box_data>p>span {
  color: #FF2d53;
  font-weight: bold;
}

h2 {
  margin-bottom:  3vh;
  /* font-weight: bold; */
}

/* **********secciones sitio********** */
.secciones-sitio>.container-fluid {
  padding: 0;
  margin: 0;

}



/* width:70px;
height: 70px;

/* object-fit:scale-down;
object-position: 10% 2; */
/*border-radius: 50%;

object-fit: cover;
object-position: center; */

.secciones {
  padding-right: 0;
  margin-right: 0;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 6vh;
  flex-wrap: wrap;
}

.imagen-cat {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-cat {
  position: absolute;
  width: 100%;
  background-color: rgba(102, 102, 102, 0.5);
  margin-left: -2vw;

  padding-left: 2vw;
  font-size: 2em;
  /* color: whitesmoke; */
  color:red;
}

.texto-cat>p {
  margin-bottom: 0;

}




/* *********main-footer-index****** */



.row-pie {

  color: whitesmoke;
}

.row-pie h6 {
  font-size: 1.1em;
  font-weight: bold;
}



.row-pie li a {
  font-size: 0.8em;
}

.col-redes {

  display: inline-flex;
  justify-content: space-around;
}

.container-pie {
  background-color: #353535;
}

.main-footer {
  background-color: #ffffff;
  padding: 20px 0;
  margin-top: 80px;
}

.tipo-bunker {
  font-family: "Black Ops One", cursive;
}

.footer-data {
  text-align: center;
}

.footer-data i {
  color: var(--light-blue);
  font-size: 2em;
}

.footer-data h2 {
  color: var(--gray);
  font-size: 2.4em;
  font-weight: 400;
}

.footer-data p {
  color: var(--gray);
  font-size: 1.5em;
  font-weight: 300;
  padding-top: 2vh;
}

.main-footer h2, h3 {
    color: #353535;
}



.col-company div ul li a:hover,
.col-costumer div ul li a:hover,
.col-redes ul:hover  {
  color: #FFCA00;
}


/* ******redirect****** */

.redireccion {
  min-height: 550px;
}


/* ****** vision perfil usuario*********/

.display-mobile.button-profile {
  margin: 4vw;
}

.avatar {
  /* max-width: 250px; */
  display: flex;
justify-content: center;
align-items: center;

height: 220px;

}

.avatar img {
  height: 200px;

}

.display-large {
  display: none;
}



.datos-personales {
  /* height: 200px; */
  margin-left: 5vw;
}

/* .container-user {
  min-height: 1000px;

} */

.datos-user-container>div>h1{
  font-size: 3.5em;
  border-bottom: 1px solid #666666;
  margin-bottom: 2vh;
  margin-left: 2.5vw;
}

.boton-registro {
  font-size: 1.3em;
  color: whitesmoke;
  background-color: #353535;
  margin-bottom: 4vh;
  width: 35vw;

}

.boton-registro:hover {
  color: #FFCA00;
}



.datos-personales {
  margin-top: 3.5vh;
  font-size: 3em;
  margin-bottom: 3.5vh;
}

.datos-personales p:first-child {
  font-size: 1.8em;
  color:red;
}


.datos2 {
  font-size: 2em;
  margin-left:3vw;
}

.delete {
  background-color: #ff2d53;
}

.link-hover:hover {
  color: #ff2d53;
}
/* ******producto******** */

.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;


}

.breadcrumb {
  margin-top: 2vh;
  font-size: 1.5em;

}



.carousel-prod> .carousel-item>img {
  height: 400px;

  margin: auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=`http://www.w3.org/2000/svg` fill=`353535` viewBox=`0 0 8 8`%3E%3Cpath d=`M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z`/%3E%3C/svg%3E");

}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=`http://www.w3.org/2000/svg` fill=`353535` viewBox=`0 0 8 8`%3E%3Cpath d=`M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z`/%3E%3C/svg%3E");

}

.precio-producto h3 {
  color: #ff2d53;
}

.datos-prod {

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

}

.heart {
  background-color: transparent;
  border: unset;
}


.fa-heart {
  font-size: 1em;
  /* color: #ff2d53; */
  opacity: 0.8;

}

.red {
  color: #ff2d53;
}


.btn-secondary {
  background-color: #353535;
  font-size: 1.8em;
}

.btn-secondary:hover {
  color: #FFCA00;
  /* background-color: #FFCA00; */
  border: unset;
}

.producto-mobile {
  color: #353535;
}

.producto-mobile h2 {
  font-weight: bold;
  font-size: 4em;
}

.producto-mobile h3 {
  font-size: 3em;
}


.producto-mobile h4 {
  color: #666666;
}

.descripcion-producto div p {
  font-size: 1.5em;
 text-align: justify;


}

.card {
  border: none;
}

.marco-tarjetas {
  height: 230px;
  padding-top: 1.5vh;
  border-bottom: solid 1px #c2c2c2;
}

.card-text{
  border-top: solid 1p #666666;
}

.card-body h5 {
  font-weight: bold;
  font-size: 1.5em;
}

.card-body {
  border: unset;
  padding: 2vh 0;
}

.card-body p {
  font-size: 1.5em;
  color: #666666;
}
/*******footer****** */




footer h6 {
  color: #353535;
  font-size: 1.2em;
}

footer p {
  color: #666666;

}

footer>div>h6{
  color:red;
  font-size: 1.1em;
  font-weight: bold;
}

.container-control-panel {
  border-top: 1px solid #666666;
}

.container-control-panel h2 {

  margin-top: 3vh;
  margin-left: 1.5vw;
  font-size: 3em;
}

.container-control-panel h2:hover {
  color: #FF2d53;
}

/* ******Panel de Control******* */
.bks-controlPanelForm {
  border-color: #666666 !important;
}

/* TABLA control panel */





.container-control-panel-table {

  margin-left: 3vw;
}

.container-control-panel-table td {

  padding-top: 2vh;
  padding-bottom: 1vh;
  font-size: 1em;
}

.container-control-panel-table td:hover {
  color: #FF2d53;
}

.container-control-panel-table th {

  padding-top: 1.5vh;
}

/* ******formulario de registro******* */

.form-new-user {
  min-height: 400px;
}

.c-acc{

  margin-right: 3%;
  border-bottom: solid 1px #c2c2c2;
  font-weight: bold;
  padding-bottom: 2vh;
  font-size: 3em;
}

.datos-usuario, .info-cuenta {
  padding: unset;
}

.acc-subs{

  margin-right: 3%;
 margin-bottom: 2vh;
 margin-top:6vh;
 font-weight: bold;
 font-size: 2em;
}

.datos-usuario.form-row{
  padding-left: 3%;
  padding-right: 3%;

}

.datos-usuario>.form-row>div>.form-control {
  font-size: 1.3em;
}

.info-cuenta.form-row{
  padding-left: 3%;
  padding-right: 3%;

}

.info-cuenta>.form-row>div>.form-control {
  font-size: 1.3em;
}


.term-cond {
  padding: 3vh 0;
  font-size: 1.3em;

}

 /* .boton-registro {
  font-size: 1.3em;
  color: whitesmoke;
  background-color: #353535;
  margin-bottom: 4vh;
  width: 35vw;

}

.boton-registro:hover {
  color: #FFCA00;
} */

/* ******login******* */

h2.c-acc-user {
  font-size: 3em;
}

/* *******form carga de producto******** */
.div-form-carga label {
  margin-right: 3vw;
  max-width: 5vw;
  display: flex;
}

textarea#descripcion{
  width: 85vw;
}

.form-ingresar-prod {
  font-size: 1.3em;
}

.form-ingresar-prod input {
  font-size: 1.3em;
}

.form-ingresar-prod .form-row {
  margin: 2vw;
}

.form-ingresar-prod .custom-select {

  height: calc(1.9em + .75rem + 2px);

  font-size: 1.3rem;
}

.form-ingresar-prod>.form-row>div>label {
  padding-top: 3vh;;
}

.c-acc{

  border-bottom: solid 1px #c2c2c2;
  font-weight: bold;
}

.acc-subs{
  margin-left: 3%;
  margin-right: 3%;
 margin-bottom: 10px;
 margin-top: 10px;
 font-weight: bold;
}

.button-container-submit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-bunker {

  background-color: #666666 ;

  font-size: 2em;
  color: #ebebeb;
}

.btn-bunker:hover {
  color: #FFCA00;
  box-shadow: 5px 5px 10px grey;
}

.btn.btn-seguir, .btn.btn-comprar {
  font-size: 1.5em;
  margin-top: 3vh;
}
/* *********carrito********* */
.container-carrito {
  margin-top: 7vh;
}

.img-responsive{
  width: 100%;
}

tr>th, .nomargin {
  font-size: 1.5em;
  padding-bottom: 2vh;

}

table {
 font-size: 1.5em;
  text-align: justify;


}

thead {
  margin-bottom: 2vh;
}


button.btn.btn-sm {
  background-color:#353535;
  color: #fff;
  width: 4vw;
  font-size: 1em;
 margin-bottom: 2vh;
}

button.btn.btn-sm.red:hover {
  color: #ff2d53;
}

button.btn.btn-sm.red{
  background-color: #c2c2c2;
}

button.btn.btn-sm.yellow:hover {
  color: #ffca00;
}

.btn-comprar {
  background-color: #c2c2c2;
  border: #c2c2c2;
  color: #fff;
}

.btn.btn-comprar:hover {
 color: #ff2d53;
  box-shadow: 1px 1px 10px #e47589;
}

.btn.btn-seguir {
  color:#666666;
}

.btn.btn-seguir:hover {
  color:#ff2d53;
  font-weight: bold;
}

td>strong {
  font-size: 2em;
}

td>input.form-control {
  font-size: 1em;
}

/* *******Media  queries****** */
.container-avatar {
  margin-top: 6.5vh;
}

/* tbody.list-cart td:nth-child(3) p:nth-child(1) input{
  width: 3vw;
} */

tbody.list-favs td:nth-child(3) button {
  background-color: yellow;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.container-control-panel-table h1 {
  font-size: 3.5em;
}

.container-control-panel-table td {

  padding-top: 2vh;
  padding-bottom: 1vh;
  font-size: 1.5em;
}

.container-control-panel-table th {

  padding-top: 1.5vh;
  font-size: 2em;
}

@media (min-width: 1440px ) {




  /* ****redireccion***** */

  .redireccion {
    min-height: 550px;
  }


  /* #top {

    padding: 0;
    padding-top: 2vh;
  } */

  #menu_on {

    width: 45px;
    height: 35px;
    margin-top: 0.1vh;
  }

  #menu_on .cruz {
    width: 100%;
    height: 7px;
    transform-origin: 0px 80%;
  }

  #menu_on .cruz:nth-child(2) {
    top: calc(47% - 2px);
}


  /* .icon-carrito {
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5em;
  margin: unset;
  } */

  .icon-fav {
    margin: unset;

  }



  .icon-fav button {
      display: inline;
      text-align: center;
      padding-bottom: 1vh;
  }


/*
  .fa-user-astronaut button {
    background-color: #353535;
    border: unset;
  }

  .fa-user-astronaut {


  } */


  .logo-bunker {
    padding-left: 0vw;
  }
  .logo-bunker>a>h1 {
    margin-top: 1.2vh;
    font-size: 8em;
  }



  .opciones-usuario {
      justify-content: flex-end;
  }

  .menu-colapse{
    width: 25%;
    margin-left: 1.8vw;
  }



  /* ****** */

/* ****** */



#collapseExample ul {


}

#collapseExample ul li {
float: right;
}

#collapseExample ul li:nth-child(4):hover {
  background-color: #FF2d53;
}
#collapseExample ul li:nth-child(1):hover,
#collapseExample ul li:nth-child(3):hover,
#collapseExample ul li:nth-child(2):hover {
  background-color: #666666;
}






/* ******* */

/* #collapseExample ul li:nth-child(3):hover {
  background-color: #FF2d53;
}
#collapseExample ul li:nth-child(1):hover,
#collapseExample ul li:nth-child(2):hover {
  background-color: #666666;
}
 */





/* ******* */


  /* ++++Buscador LG+++++ */

  .buscador-lg {
      display: inline;
      padding-top: 1vh;
    }

    .buscador-mini {
      display: none;
    }

  .buscador-lg>form {
      background-color: white;
      border-radius: 2px;

      padding-left: 1vw;
      font-size: 2.5em;
    height: 5.5vh;
  }

  .search-form_inputLG {
      height: 4vh;
      width: 35vw;
      border: unset;

  }

  .search-form_buttonLG {
      padding-right: 1vw;
      padding-top: 0.3vw;
      border: unset;
      background-color: unset;

  }

  .search-form_buttonLG>.fa-search {
      color: #c2c2c2;
      font-size: 1.2em;
  }
/*
  **********index******** */
/* h2 {
  font-size: 3em;
} */

/*
.breadcrumb {
  margin-bottom: 2vh;
  font-size: 2.5em;

}

.breadcrumb ol li a {
  font-size: 2.5em;
} */

.titulos i {
  font-size: 3em;
  padding-top:2.8vh;
}

.card-body-tarjetas  {
  font-size: 1.5em;
}

/* *****tarjetas***** */
.card-img1 {

  padding-top: 4vh;
}



.card-img2 {
  width: 50%;
  padding-top: 1.5vh;

}

.caja-tarjetas {

  margin-top: 2vh;
}

.cont-tarjeta2,  .cont-tarjeta1 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 100px;
}

/* ********index-tarjetas-productos ******** */



/* .product-box_image {
  height: 300px;
}

.product-box_image>img{
   width: 100%;
} */

.precio-oferta>span {
  color: #FF2d53;
  font-weight: bold;
  font-size: 1.8em;
}

.product-box_data p {
  font-size: 2em;


}

.secciones-sitio {
  padding-top: 3vh;
}
/* *****main footer****** */

.footer-data i {
  font-size: 3em;
}

div.col-12.pb-4 h2 {
  border-top: solid 1px #c2c2c2;
  padding-top: 2vh;
}

.footer-data p {
  font-size: 1.8em;
}





  /* ****vision del producto***** */

  .producto-mobile {
      border-top: solid 1px  gray;
  }

  .marco-tarjetas {
      height: 300px;
  }

  .boton-editar-prod:hover {
    color: #FFCA00;
    border: unset;
  }

  h3 {
    font-size: 3rem;
}

.precio-producto h3 {
  font-size: 5em;
}

.precio-producto .wrap h4 {
  font-size: 2.5em;
}

.precio-producto .wrap p {
  font-size: 1.5em;
}

div.tarjetas-producto>a>p {
  font-size: 2.5em;
}
  /* *****main index footer***** */



  .row-pie h6 {
      font-size: 1.5em;
  }

  .row-pie li a {
      font-size: 1em;
  }

  .col-redes {
      justify-content: flex-end;
  }

  .col-redes ul a {
      padding: 5px;
      font-size: 1.5em;
  }

  .row-pie {

    font-size: 1.5em;
}

  /* ******footer********* */

  footer>div>h6 {

    font-size: 1.5em;
  }

  footer .container {

      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1440px;
  }

  footer .container p {
      padding-top: 1vh;
  }

/******* pagina user ********/



.datos-user-container>div>h1 {
  margin-left: 1vw;
}

.datos2 {
  font-size: 2em;
  margin-left:1vw;
}

.avatar {

}

.boton-registro.delete {
  background-color: #ff2d53;
}

/* ******login******* */

h2.c-acc-user {
  font-size: 3em;
}

  /* ******pagina producto****** */

  .breadcrumb {
      padding-left: unset;
      margin-top: 2vh;

  }



   }

   @media (min-width: 769px){





    .cor{
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
    }

    .c-acc {
      padding-left: 2vw;
    }


      textarea#descripcion {
        width: 20vw;
    }

    .form-ingresar-prod input {

      width: 20vw;
  }

  .display-mobile {
    display: none;
   }

   .display-large {
     display: inline-block;


   }

   .boton-registro {
    font-size: 1.3em;
    color: whitesmoke;
    background-color: #353535;
    margin-bottom: 4vh;
    width: 10vw;


  }

  .boton-registro:hover {
    color: #FFCA00;
  }


   .datos-personales p:first-child {
     margin-bottom: 3vh;
   }

   .display-large.button-profile {

    justify-content: center;
    align-items: center;

   }

   .container-buttons {
    display: flex;
    justify-content: space-around;

    align-items: center;

   }

   .container-buttons-delete {

   }

   div.display-large {
     margin: auto;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
   }


}


@media  (max-width: 600px) {

   /* tbody {
     font-size: 1.5em;
   } */

   /* td>input.form-control {
     font-size: 1em;
   } */



  button.btn.btn-sm {
      background-color:#353535;
      color: #fff;
      width: fit-content;
      font-size: 1.5em;
      padding: 0 2vh;
  }

  button.btn.btn-sm.red:hover {
      color: #ff2d53;
  }

  button.btn.btn-sm.yellow:hover {
      color: #ffca00;
  }



  .actions {
    margin-left: 12vw;
    display: flex;
    flex-flow: wrap column;
  }
.actions .btn{
  width:34%;
  margin:1.5em 0;
  }

/* td>strong {
  font-size: 2.5em;
} */


.btn.btn-seguir, .btn.btn-comprar {
  margin-bottom: 3vh;
}

.btn.btn-comprar {
  font-size: 2em;
  padding: 2vh 0;
}

  table#cart tbody td .form-control{
  width:20%;
  display: inline !important;
  }
  tbody > tr > td:nth-child(4){
      text-align: left !important;
  }



  .carrito-form>.form-control{
      height: calc(1.1rem + .75rem + 2px);
  }

table#cart thead{
      display: none;
  }
table#cart tbody td{
      display: block; padding: .6rem; min-width:320px;
  }
table#cart tbody tr td:first-child{
      background-color: #fff;
  }
table#cart tbody td:before{
  content: attr(data-th); font-weight: bold;
      display: inline-block; width: 7rem;
  }
  /* table#cart tbody tr td:last-child :not(td:before){
  } */



table#cart tfoot td{display:block; }
table#cart tfoot td .btn{display:block;}


.imagen-cat>img {

  object-fit: cover;
  width: 100vw;
  height: 45vh;
  }
  .texto-cat {
    position: absolute;
    width: 100%;
    background-color: rgba(102, 102, 102, 0.5);


    padding-left: 2vw;
    font-size: 2em;
    color: green;
  }

  .product-box_image {
    height: 300px;
  }
  
  .product-box_image>img{
     width: 100%;
  }
}

