<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Inicio'}) %>


<main class="container container-user">
    
    <div class="container">
        <div aria-label="breadcrumb rounded-0 breadcrumb-user">
            <ol class="breadcrumb pl-0 bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/users/edit">Editar</a></li>
                <li class="breadcrumb-item"><a href="#">Delete</a></li>
                
            </ol>
        </div>
    </div> 
    
    <section class="container-wide destroy">
        
        <div class="m-5">
            <h3>Usuario eliminado</h3>    
        </div>
        <div>
            <img class="destroy-user" src="../../images/pngocean.com.png" alt="">
        </div>

    

      
        
       
        
   
    
    
</section>



</main>




<%- include('partials/footer') %>

</body>	
</html>


