<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Inicio'}) %>


<main class="container container-user">
    
    <div class="container">
        <div aria-label="breadcrumb rounded-0 breadcrumb-user">
            <ol class="breadcrumb pl-0 bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Equipo</a></li>
                
            </ol>
        </div>
    </div>
    
<section class="container container-equipo">
    <div>
        <h2>El equipo de <span>Bunker</span></h2>
    </div>
    <div >
           
        <h3>Federico García</h3>
        <div  class="equipo-contenido">
                <div>
                        <img src="imagenes/Fede.jpeg" alt="">
                    </div>
                    <div>
                        Técnico electrónico, casi licenciado en administración de empresas (si, acá algo raro pasó), curioso por naturaleza. Ha sido más tiempo ejecutivo de cuentas en empresas de diversos rubros industriales que padre. Persona entusiasta, colaborativa y por momentos algo obstinado. A los 36 años consideró necesario un cambio de rumbo en su vida.
                    </div>
        </div>
    </div>
    <div >
            <h3>Malena Trejo</h3>
            <div  class="equipo-contenido">
            <div>
                    <img src="imagenes/male.jpg" alt="">
                </div>
            <div>
                Le tomó 34 años llegar a la recta final de su doctorado en letras y siendo ya profesora de latín en la UNLP decidió que era momento de probar con otros lenguajes. Encontró en el desarrollo web la combinación justa de lenguaje, el gusto por las matemáticas y la curiosidad por nuevas tecnologías.
            </div>
        </div>
        </div>


        <div >
                <h3>Ignacio Erglis</h3>
                <div  class="equipo-contenido">
                <div>
                        <img src="imagenes/Nacho.jpeg" alt="">
                    </div>
                    <div>
                            Alias Nacho, 26 años. Gracias a él bajamos un poco el promedio de antigüedad. Técnico electrónico y mecánico automotriz apasionado de la conducción. Se desempeña en el departamento de compras y contabilidad de una gerenciadora de salud. El orden es un pequeño punto que quisiera mejorar.
                        </div>
            </div>
            </div>

       
    </div>
    
</section>
</main>






<%- include('partials/footer') %>

</body>
</html>




