<!DOCTYPE html>
<html lang="es">

<%- include(`partials/head`, {title: `Inicio`}) %>


<main class="container container-user">
    
    <div class="container">
        <div aria-label="breadcrumb rounded-0 breadcrumb-user">
            <ol class="breadcrumb pl-0 bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/users/login">Login</a></li>
                <li class="breadcrumb-item"><a href="#">Error</a></li>
                
            </ol>
        </div>
    </div> 
    
    <section class="container-wide">
        
        <div class="m-5">
            <h3>No existe el usuario. Revisá tus credenciales para continuar.</h3>
            
        </div>
        <div>
            <img src="../../images/error.png" alt="">
        </div>
        
       
        
   
    
    
</section>



</main>




<%- include(`partials/footer`) %>

</body>	
</html>


