<!DOCTYPE html>
<html lang="es">

<%- include(`partials/head`, {title: `Inicio`}) %>


<main class="container container-user">
    
    <div class="container">
        <div aria-label="breadcrumb rounded-0 breadcrumb-user">
            <ol class="breadcrumb pl-0 bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
               
                
            </ol>
        </div>
    </div> 
    
    <section class="container-wide destroy">
        
        <div class formato="m-5">
            <h3>Ha ocurrido un error!</h3>
            <h4>Volvé a intentarlo...</h4>

            
        </div>
        <div>
            <img class="destroy-user"src="../../images/error_robot.png" alt="">
        </div>
        
       
        
   
    
    
</section>



</main>




<%- include(`partials/footer`) %>

</body>	
</html>


