<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: 'Inicio'}) %>
<main class="">
    <div class="container">
        <div aria-label="breadcrumb rounded-0 ">
            <ol class="breadcrumb pl-0 bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Usuario</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </div>
    </div> 
    <section class="container registro">
        <form action="/users/login/val" method="POST" class="needs-validation mt-3 form-new-user" novalidate>
            <h2 class="c-acc-user">Iniciar Sesión</h2>
            <div class=" info-cuenta">
                <div class="form-row email mb-5">
                    <div class="col-md-6 mb-6">
                        <label for="validationCustomX"></label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-row contraseña">
                    <div class="col-md-6 mb-6">
                        <label for="validationCustom03"></label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Contraseña" required>
                    </div>
                </div>
            </div>
            <div class="mt-5 form-check">
                <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe">
                <label class="form-check-label ml-2" for="rememberMe">
                    Recuerda mi sesion
                </label>
            </div>
        </div>
        <div class="mt-5">
            <button class="btn  boton-registro" type="submit">Iniciar Sesión</button>
        </div>
    </form>
    <div>
        <h2>Si no tenés cuenta, creala aquí</h2>
        <div class="button-container-submit">
                                    
                <button class="btn btn-bunker mb-5 mt-5" type="submit"><a href="/users/create" >CREAR CUENTA</a></button>
        </div>

    </div>
</section>
</main>
<%- include('partials/footer') %>
</body>	
</html>