<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Inicio'}) %>


<main class="container container-user">
    
    <div class="container">
        <div aria-label="breadcrumb rounded-0 breadcrumb-user">
            <ol class="breadcrumb pl-0 bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Nosotros</a></li>
                
            </ol>
        </div>
    </div>
    
<section>
    <div class="container container-nosotros">
       
        <div>
             <div><h2>Nuestro <span class="bunker">Bunker store</span> </h2>
            <p>
                Imaginemos por un segundo que un apocalipsis zombie se desata en el mundo (y, seamos sinceros, va a pasar tarde o temprano) nos encontramos un bunker. Que quisieras encontrarte dentro? Una linterna? La tenemos! Comida? Claro que si! Articulos de aseo personal? Listo! Repuestos? Seguro! Tu amor imposible de la secundaria esperando que seas su única salvación? Eh, bueno, quizás no lo tengamos absolutamente todo. Pero en resumidas cuentas en BunkerStore la idea es la de ofrecer gran variedad de rubros en un sólo lugar.
            </p>
        </div>
            <div>
            <h3>¿A quiénes se dirige <span class="bunker">Bunker store</span>?</h3>
          <p> A aficionados y expertos en camping, senderismo y outdoor en general. Jóvenes y jóvenes-adultos acostumbrados a utilizar plataformas online para hacer compras. Profesionales independientes que llevan sus gustos y hobbies un poco más allá.</p>
        </div>
        </div>
</section>
</main>






<%- include('partials/footer') %>

</body>
</html>




