<!DOCTYPE html>
<html lang="es">

<%- include(`partials/head`, {title: `Inicio`}) %>


<main class="container container-user">
    <div class="container">
        <div aria-label="breadcrumb rounded-0 breadcrumb-user">
            <ol class="breadcrumb pl-0 bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Perfil</a></li>
            </ol>
        </div>
    </div>


    <section class="container-control-panel-table">
        <table class="table control-panel-table">
            <thead>
                <h1 class="mb-4">Panel de Control</h1>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><i class="fas fa-list-alt"></i></th>
                    <td><a href="/products">Listar productos (eliminar y modificar)</a></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-plus-circle"></i></th>
                    <td><a href="/products/create">Crear nuevo producto</a></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-pencil-alt"></i></th>
                    <td><a href="/products/extras">Modificar categorías, marcas y descuentos</a></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-user-friends"></i></th>
                    <td><a href="/users/admins/contacts">Agenda de contactos</a></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-crown"></i></th>
                    <td><a href="/users/admins/create_admin">Crear administradores</a></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fas fa-crown"></i></th>
                    <td><a href="/admins/contact">Consultas</a></td>
                </tr>
            </tbody>
        </table>
    </section>





</main>




<%- include(`partials/footer`) %>

</body>

</html>