<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Inicio'}) %>


<main class="container container-user">
    
    <div class="container">
        <div aria-label="breadcrumb rounded-0 breadcrumb-user">
            <ol class="breadcrumb pl-0 bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Perfil</a></li>
                
            </ol>
        </div>
    </div> 
    

    <section class="verTodo">
            <div>
                    <h1>Ver todos los productos</h1>
                </div>
                <div class="button-profile">
                        <button type="button" class="btn btn-secondary btn-lg  rounded-sm mt-5 mb-3"><a href="/products">icono</a></button>
                </div>
        </section>
    <section class="crear">
        <div>
            <h1>Crear nuevo producto</h1>
            
        </div>
        <div class="button-profile">
                <button type="button" class="btn btn-secondary btn-lg  rounded-sm mt-5 mb-3"><a href="/products/create">icono</a></button>
        </div>
    </section>

   
    
        <section class="editar">
                <div>
                        <h1>Editar o eliminar producto</h1>
                    </div>
               

               <div class="button-profile">
                    <button type="button" class="btn btn-secondary btn-lg  rounded-sm mt-5 mb-3"><a href="/products/search">icono</a></button>
            </div>
                   
                
        </section>
    
            



</main>




<%- include('partials/footer') %>

</body>	
</html>


