<!DOCTYPE html>
<html lang="es">

<%- include(`partials/head`, {title: `Inicio`}) %>


<main>
    <!-- <div class="container">
        <div aria-label="breadcrumb rounded-0 ">
            <ol class="breadcrumb pl-0 bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                 <li class="breadcrumb-item item-cat"><a href="#"><%= infoCat.name %></a></li> 
            </ol>
        </div>
    </div>  -->
    
    <div class="jumbotron jumbotron-fluid jumbo-encabezado">
        <div class="container">
          <h1 class="display-4"></h1>
          
        </div>
      </div>
            
            <section class=" container container-prod-cats">


                
<!-- 
                <div>
                    <h3 class="font-weight-bold mb-3">Productos en <%= infoCat.name %></h3>
                </div> -->
                <div class="card-deck card-deck-index" >
                       <!-- tarjetas se generan en script -->
                       
                      </div>
                      <div class="container products-wrapper">
                            <div class="row d-flex justify-content-around container-tarjetas">
                              
                                
                            </div>
                        </div>
                
                    
            </section> 
            <script src="../../scripts/prodCats.js"></script> 
        </main>
        <%- include(`partials/footer`) %>
        
    </body>	
    </html>