<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Inicio'}) %>

<main class="container container-user">
    
    <div class="container">
        <div aria-label="breadcrumb rounded-0 breadcrumb-user">
            <ol class="breadcrumb pl-0 bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/users/login">Perfil</a></li>   
                <li class="breadcrumb-item"><a href="/users/admins/control">Panel de control</a></li>
                <li class="breadcrumb-item"><a href="#">Consultas</a></li>
                
            </ol>
        </div>
    </div>
    
    
    <section class="container-contact-table">
        <table class="table controls-table">
            <thead>
                <h1 class="mb-4">Consultas</h1>
            </thead>
            <tr class="labels">
                <td><h4><strong>Email</strong></h4></td>
                <td><h4><strong>Nombre</strong></h4></td>
                <td><h4><strong>Mensaje</strong></h4></td>
            </tr>
            <tbody class="list-messages">
                
            </tbody>
        </table>
    </section>
    
    <section class="paginator">
        <div class= "paginator-text" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" id="pag-ini">
                    <a class="page-link" href="/admins/contact">Inicio</a>
                </li>
                <li class="page-item">
                    <a class="page-link" id="prev" href="#" aria-label="Previous">
                        <span aria-hidden="true">  &laquo; Anterior</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" id="next" href="#" aria-label="Next">
                        <span aria-hidden="true"> Siguiente&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" id="last" href="#">Final</a></li>
            </ul>
        </div>
    </section>


    <script src="../scripts/contact.js"></script>
    <script src="../scripts/deleteMessage.js"></script>




</main>

<%- include('partials/footer') %>

</body>
</html>