<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Inicio'}) %>

<main class="container redireccion">
<div>
    <h1>Tenés que estar logueado para continuar.</h1>
</div>

        <div class="button-container-submit">
                <button class="btn btn-bunker mb-5 mt-5" type="submit"><a href="/users/login">LOGIN</a></button>
        </div>


</main>



        <%- include('partials/footer') %>
        
    </body>	
    </html>