/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
 
  
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: none;
    color: inherit;
  }

  body {
    font-family: 'Red Hat Display', sans-serif;
  }




/************ tarjetas credito *****************/

.caja-tarjetas {
    background-color: #fefefe;
}

.cont-tarjeta1, .cont-tarjeta2 {
  
    /* margin-top: 2vh;
    margin-bottom: 2vh; */
    border-radius: 2px;  
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.cont-tarjeta1 {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.cont-tarjeta2 {
    margin-top: 1vh;
    margin-bottom: 2vh;
}


.col-cuerpo {
    margin:  0;
    padding: 0;
}

.card-body {
    margin:  0;
    padding: 0;
    padding-left: 2vh;
    border-left: solid 1px #e9e9e9;
}

.card-body>p {
    margin:  0;
    padding: 0;
}

.card-img1 {
    width: 85%;
    padding-top: 5vh;
   }

.card-img2 {
    width: 75%;
    padding-top: 1.5vh;
}

.imagen-bbva, .imagen-american {
    
    padding:0;
    /* padding-top: 4vh; */
    margin: 0;
    text-align: center;
}

.text-muted {
    color: #353535;
    font-weight: bold;
}

.card-body p.card-text:nth-child(2n) {
    color: #353535;
}

.card-body p.card-text:nth-child(2n) span {
    color: #FF2d53;
}

.card-body p:nth-child(3n) {
    color: #c2c2c2;
    font-size: 0.8em;
}

.card-body p:nth-child(3n) span:nth-child(2n) {
    font-size: 0.8em;
    padding-left: 1vw;
}

/* *****boton volver***** */

.btn-dark {
    opacity: 0.8;
}

.btn-dark i:hover {
    color: gold;
}


/* tarjetas ofertas e interés */



.products-title {
    color: #353535;
    padding: 2vh 2vw;
    
}



.product-box_image>img {
    width: 100%;
}

.precio-oferta {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid 1px #ebebeb;
    padding-top: 2vh;
  
}

.precio-oferta>span {
    color: #FF2d53;
    font-weight: bold;
}

.product-box_data>p>span {
    color: #FF2d53;
    font-weight: bold;
}

h2 {
    margin-bottom:  3vh;
    font-weight: bold;
}

/* **********secciones sitio********** */
.secciones-sitio>.container-fluid {
    padding: 0;
    margin: 0;
    
}

.imagen-cat>img {
    width: 100%;
}



.secciones {
    padding-right: 0;
    margin-right: 0;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 6vh;
    flex-wrap: wrap;
}

.imagen-cat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-cat {
    position: absolute;
    width: 70%;
    background-color: rgba(102, 102, 102, 0.5);
    
   
    padding-left: 2vw; 
    font-size: 2em;
    color: whitesmoke;
}

.texto-cat>p {
    margin-bottom: 0;
    
}


/* main- Footer */
.main-footer {
    background-color: #ffffff;
    padding: 20px 0;
    margin-top: 80px;
  }

.tipo-bunker {
    font-family: 'Black Ops One', cursive;
}
  
  .footer-data {
    text-align: center;
  }
  
  .footer-data i {
    color: var(--light-blue);
    font-size: 2em;
  }
  
  .footer-data h2 {
    color: var(--gray);
    font-size: 2.4em;
    font-weight: 400;
  }
  
  .footer-data p {
    color: var(--gray);
    font-size: 1.5em;
    font-weight: 300;
    padding-top: 2vh;
  }

  .main-footer h2, h3 {
      color: #353535;
  }


/* *******sección pie  de sitio****** */



footer h6 {
    color: #353535;
    font-size: 1.2em;
    
   
}

footer p {
    color: #666666;
    
}

.row-pie {

    color: whitesmoke;
}

.row-pie h6 {
    font-size: 1.1em;
    font-weight: bold;
}



.row-pie li a {
    font-size: 0.8em;
}

.col-redes {
  
    display: inline-flex;
    justify-content: space-around;
} 

.container-pie {
    background-color: #353535;
}

@media (min-width: 1000px) {
    
    /* *****ofertas******* */

    figure.product-box_image {
        height: 300px;
    }
    
    
    /* *****tarjetas***** */
    .card-img1 {
        
        padding-top: 2.7vh;
    }
    
   

    .card-img2 {
        width: 50%;
        padding-top: 0vh;
        
    }
    
    .cont-tarjeta2,  .cont-tarjeta1 {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    
    /* *****footer******* */
    
    .row-pie h6 {
        font-size: 1.5em;
    }

    .row-pie li a {
        font-size: 1em;
    }
    
    .col-redes {
        justify-content: flex-end;
    }

    .col-redes ul a {
        padding: 5px;
        font-size: 1.5em;
    }

    footer .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    footer .container p {
        padding-top: 1vh;
    }
}